/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix-transform = &default_transform;

        // zmk,matrix-transform = &five_column_transform;
    };
};

/ {
    behaviors {
        U1: U1 {
            compatible = "zmk,behavior-mod-morph";
            label = "U1";
            bindings = <&kp U>, <&kp N1>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        I2: I2 {
            compatible = "zmk,behavior-mod-morph";
            label = "I2";
            bindings = <&kp I>, <&kp N2>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        O3: O3 {
            compatible = "zmk,behavior-mod-morph";
            label = "O3";
            bindings = <&kp O>, <&kp N3>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        J4: J4 {
            compatible = "zmk,behavior-mod-morph";
            label = "J4";
            bindings = <&kp J>, <&kp N4>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        K5: K5 {
            compatible = "zmk,behavior-mod-morph";
            label = "K5";
            bindings = <&kp K>, <&kp N5>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        L6: L6 {
            compatible = "zmk,behavior-mod-morph";
            label = "L6";
            bindings = <&kp L>, <&kp N6>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        M7: M7 {
            compatible = "zmk,behavior-mod-morph";
            label = "M7";
            bindings = <&kp M>, <&kp N7>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        COMMA8: COMMA8 {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA8";
            bindings = <&kp COMMA>, <&kp N8>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        DOT9: DOT9 {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT9";
            bindings = <&kp PERIOD>, <&kp N9>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        P0: P0 {
            compatible = "zmk,behavior-mod-morph";
            label = "P0";
            bindings = <&kp P>, <&kp N0>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };

        HH: HH {
            compatible = "zmk,behavior-mod-morph";
            label = "HH";
            bindings = <&kp H>, <&kp H>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE            &kp Q  &kp W  &kp E         &kp R  &kp T            &kp Y      &U1        &I2            &O3    &P0            &mt RIGHT_ALT GRAVE
&mt LEFT_CONTROL TAB  &kp A  &kp S  &kp D         &kp F  &kp G            &HH        &J4        &K5            &L6    &kp SEMICOLON  &mt RIGHT_CONTROL SINGLE_QUOTE
&kp LSHFT             &kp Z  &kp X  &kp C         &kp V  &kp B            &kp N      &M7        &COMMA8        &DOT9  &kp SLASH      &kp RIGHT_SHIFT
                                    &kp LEFT_GUI  &mo 1  &kp BACKSPACE    &kp ENTER  &kp SPACE  &kp RIGHT_GUI
            >;
        };

        SYMBOL {
            display-name = "SYM";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LEFT_ALT      &kp EXCL       &kp AT_SIGN  &kp UP    &kp HASH   &kp DOLLAR     &kp AMPERSAND  &kp ASTERISK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LBKT      &mt RIGHT_ALT RIGHT_BRACKET
&kp LEFT_CONTROL  &kp BACKSLASH  &kp LEFT     &kp DOWN  &kp RIGHT  &kp PERCENT    &kp PLUS       &kp EQUAL       &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp COLON     &mt RIGHT_CONTROL DOUBLE_QUOTES
&kp LEFT_SHIFT    &trans         &none        &none     &none      &kp CARET      &trans         &kp MINUS       &kp LESS_THAN         &kp GREATER_THAN       &kp QUESTION  &kp RIGHT_SHIFT
                                              &none     &none      &mo 2          &kp PIPE       &kp UNDERSCORE  &kp RIGHT_GUI
            >;

            label = "SYM";
        };

        sys {
            bindings = <
&none  &none         &none         &none         &none         &bt BT_CLR      &none  &none  &none  &none  &none  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &none
&none  &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
                                   &none         &none         &none           &none  &none  &none
            >;

            label = "SYSTEM";
        };
    };
};
